
# --- Dev-only Settings (container permissions & VSCode) ---
HOST_UID={% raw %}{{uid}}{% endraw %}
HOST_GID={% raw %}{{gid}}{% endraw %}
VSCODE_SETTINGS_PATH={% raw %}{{vscode_settings_path}}{% endraw %}
LOCAL_DEV_ENV=true
