{
  // Use IntelliSense to learn about possible attributes.
  // Hover to view descriptions of existing attributes.
  // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
  "version": "0.2.0",
  "configurations": [
    {
      "name": "Console",
      "type": "debugpy",
      "request": "launch",
      "program": "${workspaceFolder}/env/bin/bench",
      "args": [
        "--site",
        "{{ site_name }}",
        "console",
      ],
      "python": "${workspaceFolder}/env/bin/python",
      "cwd": "${workspaceFolder}/sites",
      "justMyCode": false,
      "env": {
        "DEV_SERVER": "1"
      }
    },
    {
      "name": "Debug Web",
      "type": "debugpy",
      "request": "launch",
	    "python": "${workspaceFolder}/env/bin/python3",
      "program": "${workspaceFolder}/env/bin/bench",
      "preLaunchTask": "Prepare Debug Web",
      "args": [
        "serve",
        "--port",
        "8000",
        "--noreload",
        "--nothreading"
      ],
      "cwd": "${workspaceFolder}/sites",
      "justMyCode": false,
      "env": {
        "DEV_SERVER": "1"
      }
    },
    {
      "name": "Debug Short Worker",
      "type": "debugpy",
      "request": "launch",
      "program": "${workspaceFolder}/env/bin/bench",
      "args": ["worker", "--queue", "short"],
      "python": "${workspaceFolder}/env/bin/python3",
      "cwd": "${workspaceFolder}/sites",
      "justMyCode": false,
      "preLaunchTask": "Prepare Debug Worker",
      "env": {
        "DEV_SERVER": "1"
      }
    },
    {
      "name": "Debug Long Worker",
      "type": "debugpy",
      "request": "launch",
      "python": "${workspaceFolder}/env/bin/python3",
      "program": "${workspaceFolder}/env/bin/bench",
      "args": ["worker", "--queue", "long"],
      "cwd": "${workspaceFolder}/sites",
      "justMyCode": false,
      "preLaunchTask": "Prepare Debug Worker",
      "env": {
        "DEV_SERVER": "1"
      }
    },
    {
      "name": "Start without Web",
      "type": "debugpy",
      "request": "launch",
      "program": "/home/frappe/.local/bin/honcho",
      "python": "${workspaceFolder}/env/bin/python",
      "cwd": "${workspaceFolder}",
      "justMyCode": false,
      "console": "internalConsole",
      "args": [
        "start",
        "socketio",
        "watch",
        "schedule",
        "worker_short",
        "worker_long",
        "worker_default"
      ]
    },
    {
      "name": "Debug Unit Test",
      "python": "${workspaceFolder}/env/bin/python3",
      "type": "debugpy",
      "request": "launch",
      "program": "${workspaceFolder}/env/bin/bench",
      "args": [
        "--site",
        "test_{{ site_name }}",
        "run-tests",
        "--app",
        "{{ app_name }}",
        // "--doctype", "DocType Name",
        "--test", "test_case_name",
        // "--module", "{{ app_name }}.doctype_name.test_doctype_name",
        "--skip-test-records"
      ],
      "console": "integratedTerminal",
      "justMyCode": false
    },
  ]
}
