#!/usr/bin/bash

set -e

# These patches are called with root user in directory /home/{{ image_user }}/bench
# Patches in container libraries are applied.

# get current python version
export PYTHON_VENV_VERSION=$(ls /home/{{ image_user }}/bench/env/lib/ | grep -E '^python[0-9]+\.[0-9]+' | sort -V | tail -n 1)

# Final changes as check if previous commands didnt fail so far:
# app name manipulation
sed -i "s/{{ project_name }}/${IQ_BRAND_NAME:-{{ project_name }}}/g" /home/{{ image_user }}/bench/apps/{{ app_name }}/{{ app_name }}/hooks.py

# final splash screen manipulation
sed -i "s/__(\"Starting Frappe ...\")/__(\"Starting ${IQ_BRAND_NAME:-{{ project_name }}} ...\")/" /home/{{ image_user }}/bench/apps/frappe/frappe/desk/page/setup_wizard/setup_wizard.js
