# Distribution commands - utilities that are not part of bench ops
import click
import os
import shutil

import frappe


@click.command("clear-assets-cache")
def clear_assets_cache():
	"Clears assets cache"
	frappe.init("")
	frappe.cache.delete_value("assets_json", shared=True)


{%- if feature_mkdocs %}
@click.command("mkdocs-serve")
@click.option("--no-browser", is_flag=True, default=False, help="Prevents starting the browser")
def mkdocs_serve(no_browser=False):
	"Serve mkdocs locally"
	target_path = os.path.join(frappe.get_app_path("{{app_name}}"), "mkdocs")

	print("Starting mkdocs server... will be available (soon) under http://localhost:8020")
	print("Press Ctrl+C to stop")

	# open browser
	if not no_browser:
		frappe.utils.execute_in_shell("open http://localhost:8020")

	# copy_files(os.path.join(frappe.get_app_path("{{app_name}}"), "public", "images"), os.path.join(frappe.get_app_path("{{app_name}}"), "mkdocs", "docs", "img", "public_doc_assets"))

	# Check if docker is available
	if shutil.which("docker"):
		frappe.utils.execute_in_shell("docker run -it --rm -p 8020:8000 -v {0}:/docs --name mkdocs squidfunk/mkdocs-material".format(target_path))
	elif shutil.which("mkdocs"):
		os.chdir(target_path)
		frappe.utils.execute_in_shell("mkdocs serve -a 0.0.0.0:8020")
	else:
		print("Please install docker or install mkdocs with: pip install mkdocs-material")


@click.command("mkdocs-build")
def mkdocs_build():
	"Build mkdocs documentation"
	target_path = os.path.join(frappe.get_app_path("{{app_name}}"), "mkdocs")
	preprocess_mkdocs()

	print("Building mkdocs documentation in {0} ...".format(target_path))

	copied_files = copy_files(
		os.path.join(frappe.get_app_path("{{app_name}}"), "public", "images"),
		os.path.join(frappe.get_app_path("{{app_name}}"), "mkdocs", "docs", "img", "public_doc_assets")
	)

	if shutil.which("docker"):
		frappe.utils.execute_in_shell(
			"docker run -it --rm -v {0}:/docs --user $(id -u):$(id -g) --name mkdocs squidfunk/mkdocs-material build --site-dir dist".format(target_path)
		)
		revert_copy(copied_files)
	elif shutil.which("mkdocs"):
		os.chdir(target_path)
		frappe.utils.execute_in_shell("mkdocs build --site-dir dist")
		revert_copy(copied_files)
	else:
		print("Please install mkdocs with: pip install mkdocs-material")
		return


def preprocess_mkdocs():
	if os.environ.get("LOCAL_DEV_ENV") == "true":
		if not shutil.which("mkdocs"):
			print("Installing mkdocs...")
			os.system("pip install mkdocs-material")

	import datetime
	year = datetime.datetime.now().year
	brand_name = os.getenv("IQ_BRAND_NAME", "{{project_name}}")
	filename = os.path.join(frappe.get_app_path("{{app_name}}"), "mkdocs", "mkdocs.yml")

	with open(filename, "r", encoding="utf-8") as file:
		lines = file.readlines()

	with open(filename, "w", encoding="utf-8") as file:
		for line in lines:
			if line.startswith("copyright:"):
				line = f'copyright: "&copy; {year} {brand_name}"\n'

			file.write(line) # replace the copyright line in mkdocs.yml

{% endif -%}


def copy_files(src_dir, dst_dir):
	"""Copy files from src_dir to dst_dir."""
	# Ensure destination directory exists
	os.makedirs(dst_dir, exist_ok=True)

	copied_files = []
	# Loop over items in the source directory
	for filename in os.listdir(src_dir):
		src_file = os.path.join(src_dir, filename)
		dst_file = os.path.join(dst_dir, filename)

		# Only copy files (skip directories)
		if os.path.isfile(src_file):
			shutil.copy2(src_file, dst_file)
			copied_files.append(dst_file)

	return copied_files


def revert_copy(dst_dir: list | str):
	"""Revert the copy operation by removing the destination directory."""

	if isinstance(dst_dir, str):
		dst_dir = [dst_dir]

	for path in dst_dir:
		if os.path.exists(path):
			if os.path.isfile(path):
				os.remove(path)
			else:
				shutil.rmtree(path)


commands = [
	clear_assets_cache,
{%- if feature_mkdocs %}
	mkdocs_serve,
	mkdocs_build,
{% endif -%}
]
