{
	"name": "{{ project_name }} Dev",
	"remoteUser": "{{ image_user }}",
	"customizations": {
		"vscode": {
			"extensions": [
				"ms-python.python",
				"ms-vscode.live-server",
				"grapecity.gc-excelviewer",
				"mtxr.sqltools",
				"visualstudioexptteam.vscodeintellicode"
			],
			"settings": {
				"remote.autoForwardPorts": false,
				"remote.restoreForwardedPorts": false,
				"terminal.integrated.profiles.linux": {
					"bash": {
						"path": "/bin/bash"
					}
				},
				"terminal.integrated.defaultProfile.linux": "bash",
				"debug.node.autoAttach": "disabled"
			}
		}
	},
	"dockerComposeFile": [
		"../ops/compose/compose.base.yml",
		"./compose.dev.override.yml"
	],
	"service": "app",
	"forwardPorts": [8000, 9000],
	"portsAttributes": {
		"8000": {
			"label": "Web Application",
			"onAutoForward": "openBrowser"
		},
		"9000": {
			"label": "SocketIO",
			"onAutoForward": "silent"
		}
	},
	"workspaceFolder": "/home/{{ image_user }}/bench",
	"initializeCommand": "bash -c \"${localWorkspaceFolder}/ops/scripts/devcontainer/init_env_files {{ default_dbms }}\"",
	"postStartCommand": "bash -c \"install_iq_keybindings.py && (bench start -p .devcontainer/honcho/Procfile &) && wait-for-it localhost:8000 && info_bench_start.sh\"",
	"shutdownAction": "stopCompose", // stop containers on vscode window close
	"mounts": [
		"source=${localEnv:HOME}${localEnv:USERPROFILE}/.ssh,target=/home/{{ image_user }}/.ssh,type=bind,consistency=delegated",
		"source=${localWorkspaceFolder}/.devcontainer,target=/home/{{ image_user }}/bench/.devcontainer,type=bind,consistency=delegated",
		"source=${localWorkspaceFolder}/.devcontainer/.vscode,target=/home/{{ image_user }}/bench/.vscode,type=bind,consistency=delegated",
		"source=${localWorkspaceFolder},target=/home/{{ image_user }}/bench/apps/{{ app_name }},type=bind,consistency=delegated"
	]
}
